.Contact {
  display: flex;
  flex-direction: column;
}

.contactInfo {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.contactInfo h2 {
  grid-column-end: span 2;
  font-weight: 700;
  background: var(--title-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactInfo p {
  line-height: 1.25;
}

.contactInfo > * {
  min-height: 2.5rem;
}