.NavMenu {
  font-size: 1.25rem;
  position: absolute;
  top: var(--header-height);
  right: 0;
  padding: var(--main-padding) calc(var(--main-padding) * 1.5);
  background-color: var(--header-bg-color);
  font-weight: bold;
  transform: translateY(-100%);
  transition: transform var(--animation-speed) ease;
}

.NavMenu>ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.NavMenu.open {
  transform: translateX(0);
}