
@import 'normalize.css';

:root {
  /* sizes */
  --main-width: 100vw;
  --actual-view-height: 100vh;
  --actual-view-height: 100dvh;
  --header-height: 4rem;
  --footer-height: 2rem;
  --main-padding: 1rem;
  /* colors */
  --main-bg-color: #333;
  --main-font-color: #aaa;
  --header-bg-color: #555;
  --header-font-color: #ddd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-font-color);
  background: var(--main-bg-color);
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(70, 214, 121);
  text-decoration: none;
}